.c-container img{
    width: 100%;
    height: 300px;
    position: relative;
  text-align: center;
 

}

.c-container h1{
    padding-top: 80px;
    font-size: 28px;
    text-align: center;
    padding-bottom: 30px;
}

.c-container h5{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 30px;
}



.image {
  width: 100%;
  height: auto;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 204px;
  font-weight: bold;
}

.follow h2{
    text-align: center;
    font-size: 20px;
    
}

.follow{
  align-items: center;
}


.c-social {
  display: flex;
   justify-content: center;

}


.c-social button {
  margin: 0 3px; /* Add margin between the buttons */
  border-radius: 8px
}
.c-social img{
    width: 28px;
    height: 28px;
    
}

.c-contact{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.cc-container{
    width: 190px;
    height: 150px;
    background-color: bisque;
    text-align: center;
    
}


.c-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


.c-name input{
  width: 380px;
  height: 40px;
  
}

.c-subject input{
  width: 800px;
  height: 40px;
}

.c-message textarea{
  width: 800px;
  height: 100px;
}

.c-submit button{
  width: 180px;
  height: 45px;
  border-radius: 10px;
}


.form-container {
  width: 100%; /* Adjust as needed */
  margin: 0 auto; /* This centers the container horizontally */
  text-align: center; /* Centers the form elements inside */
}
